@charset "utf-8";

/**
 * ***************************************
 * ページ全体に関わるCSSの設定
 * ***************************************
 */
html *,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* フォント */
html {
    font-size: 14px;
}

@media (min-width: 850px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    /* Noto Sans JPのレギュラーウェイトを指定 */
}

/* ベースのリンクカラー */
a, p {
    color: #5c5c5c;
}

/* レスポンシブイメージと画像下スペース防止 */
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    /* 画像下のスペースを消す */
}

/**
 * ---------------------------------------
 * ヘッダーモジュール
 */

/* ヘッダーロゴとモバイルナビボタン */
.sitetitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b8e5ea;
    padding: 2% 0;
}

@media (min-width: 1100px) {
    .sitetitle {
        display: block;
        padding: 30px 0 0 0;
    }
}


/* ヘッダーロゴ */
.header-logo {
    margin: 0;
    /* h1のデフォルト設定オフ */
    padding-left: 5%;
    font-size: 0;
    /* 画像上下の余白を消すためh1の設定オフ */
    line-height: 0;
    /* 画像上下の余白を消すためh1のサイズオフ */
}

.header-logo img {
    width: 250px;
}

@media (min-width: 11000px) {
    .header-logo {
        padding-left: 5%;
    }

    .header-logo img {
        width: 24%;
    }
}

/* モバイル向けボタン */
.navbtn {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(../image/nav-mobile-open.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.navbtn.close {
    background-image: url(../image/nav-mobile-close.svg);
}

@media (min-width: 1100px) {
    .navbtn {
        display: none;
    }
}

/* ヘッダーナビゲーション */
.header-nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav.collapse {
    display: none;
}

.header-nav li a {
    display: block;
    padding: 20px 30px;
    background: #efefef;
    text-decoration: none;
}

.header-nav li a:hover {
    background: #b8e5ea;
}

.pc-header {
    display: none;
}

@media (min-width: 1100px) {

    /* PC向けレイアウト */

    .header-container {
        display: none;
    }

    nav {
        padding-left: 6%;
    }

    .header-nav {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end
    }


    .header-nav li a {
        padding: 6px 15px 2px 15px;
        font-size: 0.75rem;
        border-top: none;
        background: none;
    }

    .pc-header {
        display: block;
        width: 100%;
        background-color: #b8e5ea;;
        padding: 0 2%;
        display: flex;
    }

    .pc-header img {
        width: 20%;
        padding: 2% 0;
    }

    .pc-header ul {
        display: flex;
    }

    .pc-header li {
        padding-top: 3%;
    }

    .pc-header nav {
        margin-left: 7%;
    }
}

@media (min-width: 1200px) {
    .header-nav li a {
        font-size: 1rem;
        padding: 6px 15px 2px 0px;
    }
}

@media (min-width: 1300px) {
    .header-nav li a {
        font-size: 1rem;
        padding: 6px 25px 2px 0px;
    }
}

@media (min-width: 1400px) {
    .header-nav li a {
        font-size: 1.2rem;
        padding: 6px 16px 2px 0px;
    }
}

@media (min-width: 1500px) {
    .header-nav li a {
        font-size: 1.3rem;
        padding: 6px 16px 2px 10px;
    }
}

/*ホーム　メインコンテナ*/
main {
    width: 100%;
    margin: auto;
}

/*ヒーロー画像*/

.hero-container {
    position: relative;
}

.hero-caption {
    width: 90%;
    position: absolute;
    top: 15%;
    left: 5%;
    /* transform: translate(-130px, -53px); */
}

.hero-banner {
    width: 90%;
    position: absolute;
    top: 60%;
    left: 5%;
}

.banner {
    display: none;
}

@media (min-width: 821px) {
    .hero-container {
        position: relative;
    }

    .hero-caption {
        width: 50%;
        transform: translate(-7%, 2%);
        position: absolute;
    }
    .hero-img {
        display: none;
    }
    .hero-pc {
        background-image: url(../image/bg_aboutPrimary.jpg);
        background-size: cover;
        background-position: bottom;
        height: 600px;
        position: relative;
    }

    .hero-banner {
        display: none;
    }

    .banner {
        width: 400px;
        display: block;
        position: absolute;
        top: 10%;
        right: 3%;
    }

    .banner img {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .hero-pc {
        height: 650px;
    }
}

@media (min-width: 1100px) {
    .hero-pc {
        height: 700px;
    }
}

@media (min-width: 1200px) {
    .hero-pc {
        height: 750px;
    }
}

@media (min-width: 1300px) {
    .hero-pc {
        height: 800px;
    }
}

@media (min-width: 1400px) {
    .hero-pc {
        height: 850px;
    }
}

@media (min-width: 1500px) {
    .hero-pc {
        height: 900px;
    }
}

@media (min-width: 1600px) {
    .hero-pc {
        height: 950px;
    }
}

@media (min-width: 1700px) {
    .hero-pc {
        height: 1000px;
    }
}
/*-------------------------
    メインコンテナ
-------------------------*/
.main-container {
    position: relative;
}

.main-bgd {
    height: 700px;
    background: url(../image/bg_aboutSecondary__XS-S.jpg);
    background-position: bottom;
    background-size: cover;
}

.smile-people {
    position: absolute;
    bottom: -1.5%;
}
.smile-people img {
    max-width: 100%;
}

.text-box {
    width: 90%;
    position: absolute;
    top: 5%;
    right: 4%;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
}

@media (min-width: 500px) {
    .text-box {
        font-size: 2rem;
    }

    .main-bgd {
        height: 900px;
    }
}

.heighlight {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 1.2rem;
    text-decoration-color: rgba(85, 215, 255, 0.866);
    text-underline-offset: -0.2em;
    text-decoration-skip-ink: none;
}

    .smile-people2 {
        display: none;
}


@media (min-width: 821px) {

    .main-container {
        position: relative;
    }

    .pc-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        position: absolute;
        bottom: 0%;
    }

    .main-bgd {
        display: none;
    }

    .pc-bgd {
        background-image: url(../image/bg_aboutSecondary__M-XL.jpg);
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .text-box {
        /* padding-top: 15%; */
        position: static;
        font-size: 1.5rem;
        padding-bottom: 10%;
    }
    .heighlight {
        font-size: 2rem;
    }

    .smile-people2 {
        display: block;
    }

    .smile-people {
        display: none;
    }
}

@media (min-width: 849px) {
    .text-box {
        padding: 0;
        font-size: 1.4rem;
    }

    .heighlight {
        font-size: 1.5rem;
    }
}

@media (min-width: 870px) {
    .text-box {
        padding-top: 10%;
    }
}

@media (min-width: 990px) {
    .text-box {
        line-height: 1.5;
        padding-top: 15%;
    }
}

@media (min-width: 1030px) {
    .text-box {
        padding-top: 15%;
        font-size: 1.6rem;
    }

    .pc-bgd {
        height: 550px;
    }
}

@media (min-width: 1130px) {
    .pc-bgd {
            height: 600px;
        }
}

@media (min-width: 1200px) {
    .text-box {
        padding-top: 20%;
        font-size: 1.8rem;
    }

    .heighlight {
        font-size: 2rem;
    }

    .pc-bgd {
        height: 650px;
    }

}

@media (min-width: 1300px) {
    .text-box {
        padding-top: 23%;
        font-size: 1.9rem;
    }
    .heighlight {
        font-size: 2.1rem;
    }
}

@media (min-width: 1380px) {
    .text-box {
        line-height: 2;
    }

    .pc-bgd {
        height: 700px;
    }
}


@media (min-width: 1400px) {
    .text-box {
        padding-top: 23%;
    }
}

@media (min-width: 1500px) {
    .text-box {
        padding-top: 23%;
    }

    .pc-bgd {
        height: 730px;
    }
}

@media (min-width: 1600px) {
    .pc-bgd {
        height: 770px;
        }
}

@media (min-width: 1700px) {
    .pc-bgd {
        height: 800px;
    }
}


/*-------------------------
    philosophy
-------------------------*/

.philosophy-container {
    background-color: #dce3f2;
}

.philosophy {
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.text2 {
    font-size: 2.2rem;
    text-align: center;
    padding-top: 10%;
    margin: 0;
}

.underline {
    margin: 0 0 10% 0;
    padding: 0;
    text-align: center;
}

.philosophy-img {
    /* width: 30%;
    margin-top: 15%;
    position: absolute;
    top: 50%; */
    text-align: center;
}

.philosophy-img img {
    width: 40%;
}

.philosophy-box p {
    text-align: center;
    font-size: 1.8rem;
    width: 80%;
    margin: 3% auto;
}

.philosophy-box span {
    color: rgb(21, 21, 147);
    font-size: 4rem;
    font-weight: bold;
}

@media (min-width: 821px) {
    .philosophy {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 2%;
    }

    .philosophy-box {
        padding-bottom: 40%;
    }

    .philosophy-box p {
        font-size: 1.3rem;
    }

    .philosophy-box span {
        font-size: 2.3rem;
    }

    .text2 {
        font-size: 4rem;
    }

    .underline {
        margin: 0 0 5% 0;
    }

}

/*-------------------------
    業務内容
-------------------------*/
.business-content {
    background-color: #fff;
}

.business {
    display: grid;
    grid-template-columns: 15% 65%;
    /* grid-template-columns: 1fr; */
    gap: 50px;
}

.grid-container {
    display: none;
}


.index p {
    writing-mode: vertical-rl;
    font-size: 2.4rem;
}

.index span {
    color: rgb(39, 105, 237);
    font-size: 4rem;
    font-weight: bold;
}

.title-line {
    padding: 30% 42% 0 42%;
    color: #dcdbdb;
}

.business-box p {
    font-size: 2.2rem;

}
.contact-banner {
    text-align: center;
}


@media (min-width: 821px) {
    .business {
        display: none;
    }

    .box {
        padding: 10%;
        margin: 0 5%;
        position: relative;
    }

    .box p {
        font-size: 1.3rem;
    }

    .grid-container {
        display: block;
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-rows: auto auto;
        /* 2つの行を作成 */
        gap: 10px;
        /* ボックス間の余白を設定 */
    }

    .top-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 3つの列を作成 */
        /* gap: 20px; */
        gap: 10px;
        /* ボックス間の余白を設定 */
    }

    .bottom-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2つの列を作成 */
        gap: 10px;
        /* ボックス間の余白を設定 */
        width: 70%;
        margin: auto;
    }

    /* 1つ目 */
    .index1 p {
        writing-mode: vertical-rl;
        /* テキストを縦書きに */
        text-orientation: upright;
        /* 縦書きテキストを正しく表示するための指定 */
        position: relative;
        /* 擬似要素を含む要素を基準にするために必要 */
        font-size: 1.5rem;
        position: absolute;
        top: 2%;
        left: -20%;
    }

    .index1 p::after {
        content: "";
        /* 擬似要素の内容を空に */
        position: absolute;
        bottom: -80%;
        left: 50%;
        /* テキストの中央に縦棒を描画するために調整 */
        transform: translateX(-50%);
        /* 中央揃え */
        width: 1px;
        height: 70%;
        background-color: rgb(147, 147, 147);
        /* 縦棒の色 */
    }

    .index1 span, .index2 span, .index3 span,
    .index4 span, .index5 span {
        color: rgb(39, 105, 237);
        font-size: 3rem;
        font-weight: bold;
    }


     /* ２つ目 */
    .index2 p {
        writing-mode: vertical-rl;
        /* テキストを縦書きに */
        text-orientation: upright;
        /* 縦書きテキストを正しく表示するための指定 */
        position: relative;
        /* 擬似要素を含む要素を基準にするために必要 */
        font-size: 1.5rem;
        position: absolute;
        top: 2%;
        left: -23%;
    }

    .index2 p::after {
        content: "";
        /* 擬似要素の内容を空に */
        position: absolute;
        bottom: -130%;
        left: 50%;
        /* テキストの中央に縦棒を描画するために調整 */
        transform: translateX(-50%);
        /* 中央揃え */
        width: 1px;
        height: 100%;
        background-color: rgb(147, 147, 147);
            /* 縦棒の色 */
    }

    /* ３つ目 */
    .index3 p {
        writing-mode: vertical-rl;
        /* テキストを縦書きに */
        text-orientation: upright;
        /* 縦書きテキストを正しく表示するための指定 */
        position: relative;
        /* 擬似要素を含む要素を基準にするために必要 */
        font-size: 1.5rem;
        position: absolute;
        top: 2%;
        left: -22%;
    }

    .index3 p::after {
        content: "";
        /* 擬似要素の内容を空に */
        position: absolute;
        bottom: -90%;
        left: 50%;
        /* テキストの中央に縦棒を描画するために調整 */
        transform: translateX(-50%);
        /* 中央揃え */
        width: 1px;
        height: 70%;
        background-color: rgb(147, 147, 147);
        /* 縦棒の色 */
    }

        /* 4つ目 */
    .index4 p {
        writing-mode: vertical-rl;
        /* テキストを縦書きに */
        text-orientation: upright;
        /* 縦書きテキストを正しく表示するための指定 */
        position: relative;
        /* 擬似要素を含む要素を基準にするために必要 */
        font-size: 1.5rem;
        position: absolute;
        top: 2%;
        left: -20%;
    }

    .index4 p::after {
        content: "";
        /* 擬似要素の内容を空に */
        position: absolute;
        bottom: -60%;
        left: 50%;
        /* テキストの中央に縦棒を描画するために調整 */
        transform: translateX(-50%);
        /* 中央揃え */
        width: 1px;
        height: 50%;
        background-color: rgb(147, 147, 147);
        /* 縦棒の色 */
    }


    /* 4つ目 */
    .index5 p {
        writing-mode: vertical-rl;
        /* テキストを縦書きに */
        text-orientation: upright;
        /* 縦書きテキストを正しく表示するための指定 */
        position: relative;
        /* 擬似要素を含む要素を基準にするために必要 */
        font-size: 1.5rem;
        position: absolute;
        top: 0%;
        left: -18%;
    }

    .index5 p::after {
        content: "";
        /* 擬似要素の内容を空に */
        position: absolute;
        bottom: -110%;
        left: 50%;
        /* テキストの中央に縦棒を描画するために調整 */
        transform: translateX(-50%);
        /* 中央揃え */
        width: 1px;
        height: 120%;
        background-color: rgb(147, 147, 147);
        /* 縦棒の色 */
    }

    .contact-banner {
        margin-bottom: 10%;
    }
}

@media (min-width: 1100px) {
    .top-row, .bottom-row {
        gap: 60px;
    }
}

@media (min-width: 1300px) {
    .top-row,
    .bottom-row {
        gap: 70px;
    }

    .index2 p, .index3 p {
        left: -18%;
    }
}


@media (min-width: 1162px) {
    .grid-container {
        gap: 50px;
    }
}

@media (min-width: 1530px) {
    .bottom-row {
        gap: 90px;
    }
}


/*-------------------------
    業務の流れ
-------------------------*/
    .how-to {
        background-color: #f7f7f7;
}

    .index-box {
        position: relative;
        width: 90%;
        margin: 10% auto;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    .triangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 15%;
        height: 0;
        border-style: solid;
        border-width: 90px 90px 0 0;
        /* 修正された行 */
        border-color: #0b60ba transparent transparent transparent;
        /* 修正された行 */
}

    .index-content h2 {
        margin-left: 10%;
}

    .num {
        position: absolute;
        top: 3%;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
}

    .caption {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
}

    .caption::before, .caption:after {
        border-top: 1px solid;
        content: "";
        width: 3rem;
}

    .caption::before {
        margin-right: 0.5rem;
}

    .caption:after {
        margin-left: 0.5rem;
}

    .tell-box1 {
        /* text-align: center; */
        padding-left: 7%;
    }


    .t-num span {
        font-size: 2rem;
        font-weight: bold;
}

    .t-num {
        position: relative;
        /* background-image: url(../image/icon_contact_tell.png);
        background-repeat: no-repeat;
        background-position: 3% 80%;
        background-size: 30px; */
    }

    .highlight2 {
        text-decoration: underline;
        text-decoration-thickness: 0.5rem;
        text-decoration-color: rgba(73, 223, 218, 0.866);
        text-underline-offset: -0.2em;
        text-decoration-skip-ink: none;
}

    .t-icon {
        position: absolute;
        bottom: 12%;
        left: 0%;
        width: 7%;
    }

    .t-icon img {
        width: 100%;
    }

    .human-img {
        display: none;
    }

    @media (min-width: 450px) {
        .t-icon {
            width: 6%;
            left: 0%;
        }
    }

    @media (max-width: 820px) {
        .index-content p {
            padding-left: 4%;
        }

        .index-content h2 {
            padding-left: 2%;
        }

        .t-icon {
            left: 4%;
        }
    }

    @media (min-width: 700px) {
        .t-icon {
            width: 5%
        }

        .tell-box1 {
            padding-left: 6%;
        }
    }


    @media (min-width: 821px) {
    .triangle {
        position: absolute;
        top: 0;
        left: 0%;
        width: 8%;
        height: 0;
        border-style: solid;
        border-width: 120px 120px 0 0;
        /* 修正された行 */
        border-color: #0b60ba transparent transparent transparent;
        /* 修正された行 */
        }


    .caption {
        align-items: normal;
        justify-content: left;
        padding-top: 2%;
    }

    .t-num {
        padding: 2% 0;
        background-position: 0%;
        
    }

    .tell-box {
        padding-right: 30%;
    }
    .t-num span {
        font-size: 2.5rem;
    }

    .num {
        top: 6%;
    }

    .how-to-box {
        padding-bottom: 5%;
    }

    .index-content h2 {
        font-size: 2.2rem;
    }

    .index-content p {
        padding-left: 10%;
        font-size: 1.5rem;
    }

    .how-to {
        position: relative;
    }
    .human-img {
        width: 23%;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 7%;
        right: 11%;
        display: block;
    }
    .human-img img {
        width: 100%;
    }

    .t-icon {
        left: 4%;
        width: 5%;
    }

    }

@media (min-width: 768px){
    .triangle {
        width: 7%;
    }
}

@media (min-width: 1100px) {
    .t-num span {
        font-size: 3.5rem;
    }

    .t-icon {
        left: 3%;
    }
}

@media (min-width: 1200px) {
    .t-icon {
        left: 2%;
        bottom: 15%;
    }
}

@media (min-width: 1500px) {
    .t-num span {
        font-size: 4rem;
    }
}

@media (min-width: 1599px) {
    .t-num {
        margin-right: 0%;
    }
}
/*-------------------------
    代表あいさつ
-------------------------*/
    .greet {
        background-color: #fff;
}

.reader-text p {
    padding-left: 4%;
}

    .reader-img {
        width: 60%;
        margin: auto;
}

    .reader-name {
        font-size: 2rem;
        padding-left: 3%;
        border-bottom: 2px solid #ececec;
    }

    .message {
        width: 90%;
        margin: auto;
        text-align: justify;
        font-size: 1.1rem;
        margin-bottom: 20%;
    }

@media (min-width: 821px) {
    .reader {
        display: grid;
        grid-template-columns: 40% 80%;
    }

    .reader-img img {
        margin-bottom: 40%;
    }

    .reader-text {
        margin-right: 35%;
    }
}

    /* 事務所概要 */

    .company-img {
        background-image: url(../image/bg_summary.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 800px;
    }

    .company-box {
        position: relative;
    }

    .company-title {
        position: absolute;
        bottom: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .text3 {
        font-size: 2.2rem;
    }

    .overview {
        background-color: rgba(255, 255, 255, 0.7);
        width: 80%;
        padding: 0 10%;
        position: absolute;
        top: 10%;
        left: 9%;
    }

    .ov-title {
        font-weight: bold;
        padding-top: 3%;
    }

    .company-container {
        display: none;
    }

    .cd1 {
        padding-top: 15%;
    }

    .cb2 {
        padding-bottom: 15%;
    }


    /* @media (min-width: 768px) and (max-width: 769px) {
        .company-img {
            height: 1300px;
        }
    }

    @media (min-width: 400px) and (max-width: 769px) {

        /* .company-img  {
            height: 1300px;
        } */

        /* .overview {
            position: absolute;
            left: 10%;
        }
    } */ 

    @media (min-width: 768px) {
        .company-img {
            height: 900px;
        }

        .overview {
            top: 15%;
        }

    }

    @media (min-width: 821px) {
        .company-img {
            background-size: cover;
        }

        .company-title {
            top: 12%;
        }

        .text3 {
            font-size: 3rem;
        }

        .overview {
            display: none;
        }

        .company-container {
            width: 99%;
            display: block;
            display: grid;
            grid-template-columns: auto auto;
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            top: 30%;
            left: 0%;
        }

        .box-a {
            display: flex;
            margin-top: 6%;
            margin-bottom: 6%;
            margin-right: 0;
            font-size: 1.1rem;
            font-weight: normal;
        }

        .x {
            margin-left: -3%;
        }

        .a {
            margin-left: 4%;
        }

        .b {
            margin-left: 4.5%;
        }

        .c {
            margin-left: 4.3%;
        }

        .d {
            margin-left: 3%;
        }

        .e {
            margin-left: 33%;
        }

        .f {
            margin-left: 26%;
        }

        .g {
            margin-left: 26%;
        }

        .h {
            margin-left: -3%;
        }

        .i {
            margin-left: 9%;
        }

        .cp-title {
            margin-right: 10%;
        }

        .boxes1 .cp-title {
            margin-left: 5%;
        }

    }

    @media (min-width: 930px) {
        .h {
            margin-left: 0.5%;
        }
    }

    @media (min-width: 1100px) {
        .h {
            margin-left: 2%;
        }

        .i {
            margin-left: 11%;
        }
    }

    @media (min-width: 1200px) {
        .h {
            margin-left: 3.5%;
        }

        .i {
            margin-left: 11%;
        }
    }

    @media (min-width: 1230px) {
        .h {
            margin-left: 4%;
        }

        .i {
            margin-left: 11%;
        }
    }

    @media (min-width: 1260px) {

        .x {
            margin-left: -1%;
        }

        .e {
            margin-left: 32%;
        }

        .h {
            margin-left: 4.5%;
        }

        .i {
            margin-left: 13%;
        }

    }

    @media (min-width: 1370px) {
        .h {
            margin-left: 7%;
        }
    }

    @media (min-width: 1500px) {
        .h {
            margin-left: 9%;
        }

        .i {
            margin-left: 15%;
        }
    }

    @media (min-width: 1410px) {
        .company-container {
            width: 99%;
        }
    }



    /* お問い合わせ */

    .contact-box {
        text-align: center;
    }

    .underline2 {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .contact-company {
        width: 80%;
        margin: 5% 0 5% 10%;
    }

    .contact-text {
        font-size: 1.5rem;
        margin-bottom: 5%;
    }

    .contact-text::before, .contact-text::after {
        border-top: 1px solid;
        content: "";
        width: 2rem;
    }

    .contact-text::after {
        margin-left: 0.5rem;
    }

    .contact-text::before {
        margin-right: 0.5rem;
    }

    .tell-box {
        position: relative;
        /* background-image: url(../image/icon_contact_tell.png);
        background-repeat: no-repeat;
        background-position:15% 80%;
        background-size: 30px; */
    }

    .icon-img {
        position: absolute;
        top: 8%;
        left: 25%;
        width: 6%;
    }

    .icon-img img, .icon-img2 img {
        width: 100%;
    }

    .fax-box {
        position: relative;
        /* background-image: url(../image/icon_contact_company.png);
        background-repeat: no-repeat;
        background-position: 15% 60%;
        background-size: 23px; */
    }

    .icon-img2 {
        position: absolute;
        width: 5%;
        top: 9%;
        left: 25%;
    }

    .t-num2 {
        text-align: center;
    }

    .t-num2 span {
        font-size: 2rem;
        font-weight: bold;
    }

    .container {
        display: none;
    }


    /* @media (max-width: 470px) {
        .tell-box, .fax-box {
            background-position: 18% ;
        }
    }

     @media (max-width: 440px) {
    
        .tell-box,
        .fax-box {
            background-position: 13%;
        }
        } */

    @media (min-width: 768px) {
        .contact-company {
            width: 80%;
            margin-left: 10%;
            margin-bottom: 5%;
        }
        .t-num2 span {
            font-size: 3rem;
        }

        .map-icon {
            width: 10%;
            margin-left: 5%;
        }
    }

    @media (min-width: 821px) {

        .tell-box, .fax-box {
            padding: 0;
            padding-left: 5%;
            margin: 0;
        }

        /* .container {
            display: block;
            display: grid;
            grid-template-columns: 40% auto;
            grid-gap: 20px;
            width: 100%;
            margin: auto;
        } */

        .box {
            padding: 10px;
            box-sizing: border-box;
        }

        .contact-boxs {
            width: 100%;
            margin-bottom: 7%;
        }

        .contact-boxs img {
            max-width: 100%;
        }



        .number {
            padding-left: 10%;
            letter-spacing: 3px;
        }

        .number span {
            font-size: 3.5rem;
            font-weight: bold;
        }

        .number p {
            margin: 0;
        }

        .number p,
        .number {
            font-size: small;
        }

        .m-box {
            display: flex;
        }

        .g-map-icon {
            width: 5%;
        }

        .g-map-icon img {
            width: 100%;
        }

        .g-map-info {
            padding-top: 2%;
            font-size: 1.2rem;
        }

    }

    @media (min-width: 1100px) {

        .container {
            display: block;
            display: grid;
            grid-template-columns: 50% auto;
            grid-gap: 20px;
            width: 100%;
            margin: 5% auto;
        }

        .contact-boxs {
            width: 90%;
            margin: 0 auto 10% auto;
        }

        .contact-box {
            display: none;
        }

        .number {
            padding: 0;
            margin: 0;
            letter-spacing: 0;
            padding-left: 10%;
            padding-left: 18%;
            margin-top: 5%;
            position: relative;
        }

        .number span {
            padding-left: 2%;
        }

        .box {
            padding: 0;
            margin: 0;
        }

        .tel-icon {
            position: absolute;
            width: 10%;
            left: 5%;
            top: 15%;
        }

        .tel-icon img {
            width: 100%;
        }

        .fa-icon {
            position: absolute;
            width: 8%;
            left: 5%;
            top: 15%;
        }

        .fa-icon img {
            width: 100%;
        }

    }

    @media (min-width: 1250px) {
        .number span {
            font-size: 4rem;
        }
    }
    @media (min-width: 1450px) {
        .number span {
            font-size: 4.5rem;
        }
    }

    @media (min-width: 1650px) {
        .number span {
            font-size: 4.8rem;
        }
    }



    /* マップ */

    .map {
        text-align: center;
        margin: 10% 0;
    }

    .map-text {
        display: flex;
        text-align: left;
    }

    .map-icon {
        width: 10%;
    }


    /* フッター */
    footer {
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: #054890;
    }

    footer p {
        color: #fff;
        padding-top: 3%;
        font-size: 8px;
    }

    @media (min-width: 768px) {
        footer {
            margin-top: 14%;
            height: 90px;
        }

        footer p {
            font-size: 16px;
        }
    }
